Options +FollowSymLinks
Options -MultiViews
RewriteEngine On
 
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^home$ index.php [L]
RewriteRule ^Home/$ Home.php [L]
RewriteRule ^about$ about-us.php [L]
RewriteRule ^health-and-safety$ health-and-safety.php [L]
RewriteRule ^our-expert-technician$ our-expert-technician.php [L]
RewriteRule ^pigeons-control-service$ pigeons-control-service.php [L]
RewriteRule ^pest-control-services$ pest-control-services.php [L]
RewriteRule ^residential-pest-control$ residential-pest-control.php [L]
RewriteRule ^commercial-pest-control$ commercial-pest-control.php [L]
RewriteRule ^why-vpestify$ why-vpestify.php [L]
RewriteRule ^pest-prevention-tips$ pest-prevention-tips.php [L]
RewriteRule ^sanitization-services$ sanitization-services.php [L]
RewriteRule ^contact$ contact-us.php [L]
RewriteRule ^blogs$ blogs.php [L]
RewriteRule ^blog-posts$ blog-details.php [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./service.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?site=$1 [QSA,L]

#ErrorDocument 404 /404.php

   
RewriteEngine on
#First rewrite any request to the wrong domain to use the correct one (here www.)
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Now, rewrite to HTTPS:
#RewriteCond %{HTTPS} off
#RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
#RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  ##AddHandler application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit

RewriteCond %{HTTP_REFERER} !^http://eglobalplus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://eglobalplus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://eglobalplus.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://eglobalplus.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helpsewa.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helpsewa.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helpsewa.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://helpsewa.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ishindime.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ishindime.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ishindime.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ishindime.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovepractical.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovepractical.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovepractical.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovepractical.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onkarcraft.com.md-ht-4.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://onkarcraft.com.md-ht-4.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shortgoodquotes.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shortgoodquotes.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shortgoodquotes.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shortgoodquotes.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vibrayinternational.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vibrayinternational.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vibrayinternational.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vibrayinternational.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestify.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestifyadmin.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestifyadmin.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestifyin.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vpestifyin.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eglobalplus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eglobalplus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eglobalplus.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.eglobalplus.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helpsewa.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helpsewa.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helpsewa.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.helpsewa.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ishindime.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ishindime.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ishindime.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ishindime.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovepractical.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovepractical.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovepractical.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovepractical.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onkarcraft.com.md-ht-4.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.onkarcraft.com.md-ht-4.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shortgoodquotes.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shortgoodquotes.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shortgoodquotes.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shortgoodquotes.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vibrayinternational.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vibrayinternational.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vibrayinternational.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vibrayinternational.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestify.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestifyadmin.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestifyadmin.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestifyin.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vpestifyin.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://eglobalplus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://eglobalplus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://eglobalplus.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://eglobalplus.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helpsewa.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helpsewa.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helpsewa.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://helpsewa.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ishindime.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ishindime.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ishindime.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ishindime.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovepractical.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovepractical.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovepractical.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovepractical.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onkarcraft.com.md-ht-4.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://onkarcraft.com.md-ht-4.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shortgoodquotes.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shortgoodquotes.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shortgoodquotes.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shortgoodquotes.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vibrayinternational.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vibrayinternational.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vibrayinternational.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vibrayinternational.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestify.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestifyadmin.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestifyadmin.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestifyin.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vpestifyin.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.eglobalplus.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.eglobalplus.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.eglobalplus.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.eglobalplus.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helpsewa.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helpsewa.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helpsewa.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.helpsewa.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ishindime.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ishindime.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ishindime.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ishindime.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovepractical.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovepractical.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovepractical.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovepractical.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onkarcraft.com.md-ht-4.bigrockservers.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.onkarcraft.com.md-ht-4.bigrockservers.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shortgoodquotes.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shortgoodquotes.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shortgoodquotes.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shortgoodquotes.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vibrayinternational.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vibrayinternational.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vibrayinternational.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vibrayinternational.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestify.onkarcraft.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestifyadmin.vpestify.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestifyadmin.vpestify.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestifyin.onkarcraft.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vpestifyin.onkarcraft.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

